<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>DMO</title>
	<meta charset="UTF-8" name="Keywords" content="呵呵哒，我是例子，我是举了一个栗子～">
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta content="email=no" name="format-detection" />
	<meta content="telephone=no" name="format-detection" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="apple-touch-icon-precomposed" href="http://s2.pstatp.com/r2/image/app/news_article_mobile.png">
	<link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="shortcut icon" href="http://s2.pstatp.com/image/toutiao_mobile/short_cut_icon.png" type="image/x-icon">
	
</head>

<body>
    <div class="demo">
        <ul>
            <li v-for="item in dataList" track-by="$index">
                <span>{{item}}</span>
            </li>
        </ul>
        <input type="text" v-model="content | verify">
        <button v-on:click="addDataList">添加</button>
    </div>
    <script src="js/vue.js"></script>
<script src="js/index.js"></script>
    <!-- <script src="http://localhost:8888/target/target-script-min.js#anonymous"></script> -->
</body>
</html>
